@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Barlow";
}

/* fixes a bug where the common.css stylesheet overrides ours */
.markdown-overrides ol {
  list-style-type: decimal;
}

.markdown-overrides .language-text {
  font-size: .8em; 
}

.markdown-overrides pre>code {
  font-size: .8em;
}